---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Fall 2025:</h1>
<ol>
  <li><a href = "https://www.math.stonybrook.edu/MAT125">MAT 125</a>: Calculus A</li> 
  <details><summary>Read More</summary>Differential calculus, emphasizing conceptual understanding, computations and applications, for students who have the necessary background from 12th-year high school mathematics. Differentiation of elementary algebraic, trigonometric, exponential and logarithmic functions; graphing; modeling; and maximization.</details>
</ol>
